body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #F5F8FA;
    font-family: 'Tahoma',sans-serif; /* Apply the new font to the whole body */

    header {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 32px;
        align-items: center;
        padding: 5px 20px;

        img#header-image {
            display: block;
            max-width: 32px;
            max-height: 32px;
            width: auto;
            height: auto;
        }

        nav {
            ul {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            ul li {
                display: inline;
            }
        }
    }

    section {
        display: flex;
        justify-content: center;

        img {
            display: block;
            width: auto;
            object-fit: cover;
        }
    }

    figure {
        height: 200px;
    }

    footer {
        background-color: black;
        color: white;
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    footer div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    footer a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
        text-align: center;
        flex: 1 1 auto;
        padding: 8px 0;
    }
}

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

article {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px lightgray;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.2s, box-shadow 0.2s;
}

article:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

#board-title, #apply-title {
    text-align: center;
}

form {
    margin-top: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
input[type="submit"] {
    width: auto;
    background-color: #0052AA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #00346C;
}

.board-section {
    flex-direction: column;
    margin: 0 100px;
}

.apply-section {
    flex-direction: column;
    max-width: 800px;
    align-self: center;
}

.hero {
    width: 100%;
    height: auto;
    max-height: 400px;
}
